IRODS_ENVIRONMENT_FILE='/app/config/.irods/irods_environment.json'
MANGO_INGEST_CONFIG='/app/config/mango_ingest_config.yaml'

CONFIG_FILE='/app/config/config.json'

IRODS_AUTHENTICATION_FILE=/app/config/irods_auth_file
IRODS_PASSWORD="examplexxxxxxxxxxxxx*********"